@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dabija Victor' Funny Shop</h1>
    <img src="https://diez.md/wp-content/uploads/2019/09/70921668_1666914976773297_381474171982446592_n.jpg" alt="">
</div>